<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyApA9iTGXP-bNjcG7XzQWDunQE9s161ptg</string>
	<key>GCM_SENDER_ID</key>
	<string>212835805328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.highapp.ventacuba.com</string>
	<key>PROJECT_ID</key>
	<string>ventacuba-latest-version</string>
	<key>STORAGE_BUCKET</key>
	<string>ventacuba-latest-version.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:212835805328:ios:ba34ede29babcf626b1015</string>
</dict>
</plist>




